<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tlh.system.mapper.BaseMapper">
    
    <!-- 只能通过拼接字符串的形式，不能使用占位符 -->
    <insert id="saveEntity" parameterType="map">
        insert into ${tableName}
        <foreach collection="columns" item="c" separator="," open="(" close=")">
            ${c}
        </foreach>
        values
        <foreach collection="columns" item="c" separator="," open="(" close=")">
        	'${values[c]}'    
        </foreach>
    </insert>
    
	<delete id="deleteEntity" parameterType="map">
	    delete from ${tableName}
	    <where>
	        id='${id}'
	    </where>
	</delete>
    
    <update id="updateEntity" parameterType="map">
        update ${tableName}
        <set>
            <foreach collection="columns" item="c" separator=",">
        		${c}='${values[c]}'    
        	</foreach>
        </set>
        <where>
            id='${id}'
        </where>
    </update>
    
    <select id="findEntity" resultType="map" parameterType="map">
        select * from ${tableName}
    </select>
    
    <select id="getCount" resultType="int" parameterType="map">
        select count(*) from ${tableName}
    </select>
    
</mapper>